*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.calc{
    height: 80vh;
    width: 30vw;
    background-color: rgb(19, 19, 19);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    border-radius: 3%;
}

#display{
    height: 8vw;
    width: 100%;
    background-color: rgb(36, 35, 35);
    overflow: hidden;
    /* margin-left: 0.79vw; */
    border: none;
    padding: 20px;
    color: white;
    font-size: 3vw;
}

.keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1.3vw 3vw;
    gap: 1.5vw;
}

button{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-size: 2vw;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: hsl(0, 0%, 30%);
}

button:active{
    background-color: hsl(0, 0%, 40%);
}

.operator{
    background-color: rgb(235, 77, 19);
}

.operator:hover{
    background-color: rgb(254, 105, 50);
}

.operator:active{
    background-color: #f58962;
}